.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    margin-bottom: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow: hidden;
    width: 300px; /* Adjust card width */
    height: 600px; /* Adjust card height */
  }
  
  .image {
    background-size: cover;
    background-position: center;
    height: 50%; /* Set image height */
  }
  
  .container {
    padding: 20px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 768px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  
    .card {
      width: 100%;
    }
  }

